<h2>Create a new producto</h2>
<form (ngSubmit)="create()">
  <div class="form-group row">
    <label class="col-2 col-form-label">Nombre</label>
    <div class="col-10">
      <input class="form-control" type="text" [(ngModel)]="producto.nombre" name="nombre">
    </div>
  </div>
  <div class="form-group row">
    <label class="col-2 col-form-label">Descripcón</label>
    <div class="col-10">
      <textarea class="form-control" rows="3" [(ngModel)]="producto.descripcion" name="descripcion"></textarea>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-2 col-form-label">Costo</label>
    <div class="col-10">
      <div class="input-group">
        <input class="form-control" type="number" [(ngModel)]="producto.costo" name="costo">
        <span class="input-group-addon">$</span>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-2 col-form-label">Cantidad</label>
    <div class="col-10">
      <input class="form-control" type="number" [(ngModel)]="producto.cantidad" name="cantidad">
    </div>
  </div>
  <div class="form-group row">
    <label class="col-2 col-form-label">Image URL</label>
    <div class="col-10">
      <input class="form-control" type="url" [(ngModel)]="producto.imageURL" name="imageURL">
    </div>
  </div>
  <div class="form-group row">
    <label class="col-2 col-form-label">Material</label>
    <div class="col-10">
      <select class="form-control" [(ngModel)]="producto.material" name="material">
        <option value="">Select</option>
        <option value="0">PLASTICO</option>
        <option value="1">ACERO</option>
        <option value="2">ACETATO</option>
        <option value="3">ALUMINIO</option>
      </select>
    </div>
  </div>

  <button type="submit" class="btn btn-primary">Create</sutton>
  <a class="btn btn-secondary" [routerLink]="['/producto-list']" role="button">Cancel</a>
</form>
